/* ESTILO GERAL*/
body
{
	font-family: Helvetica, Arial;
}
h1, h2, h3
{
	font-family: 'Libre Baskerville', serif;
}
header
{
	background-color: #00C5CD;
}
header p
{
	text-align: justify;
	padding: 20px;
}
main
{
	background-color: #00C5CD;
}
#titulo
{
	background-color: #008DA9;
}
#lista
{
	background-color: #00C5CD;
}
#conteudo
{
	background-color: #00FF7F;
}
#navgeral
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #00C5CD;
}
#navgeral ul
{
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
	color: orange;

}
#navgeral ul li 
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;

}
#navgeral ul li a
{
	width: 100%;
	text-decoration: none;
	color: red;
}
#navgeral ul li a:hover
{
	background-color: #008DA9;
	color: blue;
	text-decoration: underline;
	border-bottom: 5px solid white;
}
footer
{
	text-align: center;
	background-color: #008DA9;
}
img
{
	
	right: 400px;
	width: 400px;
}